# Git
.git
.gitignore

# IDE files
.idea/
*.iml
.vscode/
.project
.classpath

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Docker files
Dockerfile
docker-compose.yml
*.bat
*.sh
docker-readme.md
.dockerignore
.env
.env.*